* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #061218;
}

.main {
    color: white;
    background-image: url('background-3883181_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 20px;
}

nav button {
    border: none;
    padding: 5px 10px;
    font-size: 20px;
    background: none;
    display: none;
    color: white;
}

nav a:hover {
    background-color: white;
    color: #3b5997;
}

nav li a {
    border: none;
}

nav li a:hover {
    background: none;
    color: white;
}

nav li {
    float: left;
    padding: 20px;
    list-style-type: none;
    cursor: pointer;
}

.main {
    width: 100%;
    padding: 0px 40px;
}

nav img {
    margin: 10px 0px;
    width: 60px;
}

#mood {
    padding: 10px 5px;
    border-radius: 100%;
}

nav a {
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    text-decoration: none;
}

.text {
    margin-top: 120px;
    display: flex;
}

.text img {
    width: 42%;
}

.content {
    width: 50%;
    float: left;
    margin-right: 80px;
    margin-top: 50px;
}

.content h1 {
    font-family: 'Merienda', cursive;
}

.content p {
    letter-spacing: 2px;
    font-family: 'Taviraj', serif;
}

.content button {
    width: 20%;
    border: none;
    color: white;
    padding: 15px;
    background-color: rgb(3, 160, 212);
    margin-bottom: 50px;
}

.content button:hover {
    background-color: rgb(75, 199, 240);
    cursor: pointer;
}

h1 {
    color: white;
}

.news {
    width: 100%;
    padding: 0px 40px;
    text-align: center;
    margin-top: 90px;
}

.news h1 {
    border-bottom: 2px solid white;
    margin: 0 auto;
    width: 20%;
    padding: 10px 30px;
    margin-bottom: 100px;
}

.news img {
    height: 250px;
    width: 25%;
}

#menu {
    position: fixed;
    background-color: #061218;
    top: 0;
    width: 0%;
    transition: 1s;
    color: #fff;
    height: 100%;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#menu ul {
    padding: 0px;
    margin: 0px;
}

 #close {
    padding: 0px;
    border-bottom: none;
    box-sizing: border-box;
    font-size: 30px;
    border: none;
    opacity: 1;
    cursor: pointer;
}

#menu a {
    border-bottom: 1px solid white;
    margin: 0px;
    padding: 20px 10px;
    list-style: none;
}

.container {
    position: relative;
    cursor: pointer;
    width: 24%;
    transition: 1s;
}

.container .contain {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #f1f1f1;
    transition: 600ms;
    opacity: 0;
    margin: 2px;
    width: 100%;
    padding: 3px 20px;
}

.container:hover .contain {
    opacity: 1;
}

.work {
    width: 100%;
    margin-top: 120px;
    padding: 20px;
    display: inline-block;
}

.work img {
    float: left;
    width: 50%;
}

.work-content {
    width: 50%;
    margin: 0px;
    padding: 10px 50px;
    color: white;
    float: left;
}

.work2 {
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    display: inline-block;
}

.work2 img {
    float: right;
    width: 50%;
}

.work2 .work-content {
    width: 50%;
    margin: 0px 0px;
    padding: 10px 50px;
    color: white;
    float: left;
}

hr {
    width: 50%;
}

.mission {
    color: white;
    margin-top: 100px;
    width: 100%;
    display: inline-block;
    background-image: url('mars-512489_640.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
}

.mission h1 {
    width: 24%;
    margin-top: 50px;
    margin: 0 auto;
    padding: 40px 0px 0px;
    border-bottom: 1px solid white;
    font-size:65px;
    letter-spacing: 3px;
    font-family: 'Akshar', sans-serif;
}
.mission-content {
    width: 50%;
    float: right;
    padding:20px;
}
.mission-content p {
    font-size: 20px;
    width: 100%;
    float: right;
}
.mission-content img {
    width: 50%;
    float: left;
    padding:5px;
    height: 250px;
}
